.title {
    font-size: 24px;
    font-weight: 600; 
  }
  
  .total-label {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: #757575;
  }

  .total {
    font-size: 24px;
    font-weight: 600;
    align-self: flex-end;
    margin-top: 0px; 
  }
 