<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header bg-secondary text-light">CATEGORÍAS</div>
      <div class="card-body">
        <form [formGroup]="categoryProductForm" (submit)="onSave()">
          <!-- name field  -->
          <div class="form-floating mt-2">
            <input
              required
              name="name"
              formControlName="name"
              type="text"
              class="form-control"
              id="name"
              placeholder="Nombre"
            />
            <label for="floatingInput">Nombre</label>
            <div
              *ngIf="categoryProductForm.get('name')?.touched && categoryProductForm.get('name')?.errors?.['required']"
              class="alert alert-danger"
            >
              El nombre es requerido
            </div>
            <div
              *ngIf="categoryProductForm.get('name')?.touched && categoryProductForm.get('name')?.errors?.['minlength']"
              class="alert alert-danger"
            >
              Se requiere 5 carácteres como mínimo
            </div>
            <div
              *ngIf="categoryProductForm.get('name')?.touched && categoryProductForm.get('name')?.errors?.['maxlength']"
              class="alert alert-danger"
            >
              Se ha excedido el límite de carácteres
            </div>
          </div>

          <input type="hidden" name="id" formControlName="id" />
          <input type="hidden" name="status" formControlName="status" />
          <div class="row mt-1">
            <div class="col-md-6">
              <div class="d-grid gap-2 mt-2">
                <a (click)="onNewDoc()" class="btn btn-secondary">
                  N u e v o
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-grid gap-2 mt-2">
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="categoryProductForm.invalid"
                >
                  G u a r d a r
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <table class="zui-table zui-table-rounded mt-1">
      <thead class="bg-info text-light">
        <tr>
          <th class="col-sm-6">Categoría</th>
          <th>Actualizado</th>
          <th class="col-sm-2 text-end">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{ category.name | uppercase }}</td>
          <td>{{ category.updatedAt | date | uppercase }}</td>
          <td class="text-end">
            <a (click)="onEdit(category)" class="btn btn-primary btn-sm">
              Editar
            </a>
            <a
              (click)="onUdateStatus(category)"
              class="btn btn-danger btn-sm mx-1"
            >
              Borrar
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
