 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import "bootswatch/dist/united/variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/united/bootswatch";
 
.title-label {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #030000;
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 0.25rem 0 1.25rem 0;
    box-shadow: 0 .15rem .2rem #e6edef;

    .card-head {
        padding: 1rem 1.5rem;
        border-bottom: 1px solid #edf1f7;
        font-size: 1rem;
        font-weight: 600;
    }

    .card-body {
        padding: 1rem 1.5rem; 
    }
}

.zui-table {
    table-layout: fixed;
    width: 100%;
    height: auto;
    border: solid 1px #000505;
    border-collapse: collapse;
    border-spacing: 0;
    color:rgb(92, 92, 92)
}
.zui-table thead th { 
    background-color: #aea79f;
    padding: 10px;
    text-align: left;
    font: normal 17px Roboto; 
}
.zui-table tbody td {
    // border: solid 1px #033c73;
    color: #090808;
    padding: 10px;
    height: auto;
    // height: .3rem;
    font: normal 14px Roboto, sans-serif;
    // text-shadow: 1px 1px 1px #fff;
}
.zui-table-rounded {
    border: none; 
}
.zui-table-rounded thead th {
    
    border: none;
    color: #fff;
}
.zui-table-rounded thead th:first-child {
    border-radius: 5px 0 0 0;
}
.zui-table-rounded thead th:last-child {
    border-radius: 0 5px 0 0;
}
.zui-table-rounded tbody td {
    height: .3rem;
    border: none;
    border-top: solid 1px rgb(180, 180, 180);
    background-color: rgb(244, 244, 244);
}
.zui-table-rounded tbody tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
}
.zui-table-rounded tbody tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
}